@font-face {
    font-family: 'Robot';
    src: local('Roboto'), local('Roboto'), url('../fonts/roboto/Roboto-Regular.woff') format('woff');
}
textarea.materialize-textarea{
    color: black !important;
}
nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    font-size: 30px;
}

body {
display: flex;
min-height: 100vh;
flex-direction: column;
}

main {
flex: 1 0 auto;
}

i.fa.fa-times {
     color: rgba(0,0,0,0.4);
}

.image-caption {
    color: white !important;
}

label {
/*    color: white !important;*/
}
textarea.materialize-textarea{
    color: white !important;
    border-color: white;
}


input#tags-input {
    border-color: white;
}
textarea.materialize-textarea {
    color: white!important;
    overflow-y: hidden;
    padding: .8rem 0 1.6rem 0;
    resize: none;
    min-height: 3rem;
}